html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

/* ================================
   LIGHT MODE
================================ */

:root {
    --page-bg: #ffffff;
    --card-bg: #ffffff;
    --text-color: #222222;
    --secondary-text: #64748b;
    --border-color: #e2e8f0;
}


/* ================================
   DARK MODE
   ONLY WHEN ON
================================ */

body.dark-mode {
    --page-bg: #0f172a;
    --card-bg: #1e293b;
    --text-color: #f8fafc;
    --secondary-text: #cbd5e1;
    --border-color: #334155;

    background: var(--page-bg);
    color: var(--text-color);
}

body.dark-mode #root {
    background: var(--page-bg);
    color: var(--text-color);
}